@tailwind base;
@tailwind components;
@tailwind utilities;

/* cyrillic */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/src/assets/font/NunitoSans/cyrillic.italic.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/src/assets/font/NunitoSans/latin.italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/src/assets/font/NunitoSans/cyrillic.normal.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/src/assets/font/NunitoSans/latin.normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  :root {
    --background: 0 0% 97.2549%;
    --foreground: 240 3.3333% 11.7647%;
    --card: 0 0% 100%;
    --card-foreground: 240 3.3333% 11.7647%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 3.3333% 11.7647%;
    --primary: 211.2941 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94.1176%;
    --secondary-foreground: 0 0% 29.0196%;
    --muted: 0 0% 94.1176%;
    --muted-foreground: 240 2.2222% 44.1176%;
    --accent: 221.3796 100.2424% 94.3190%;
    --accent-foreground: 216.3164 75.9906% 49.0141%;
    --destructive: 3.1884 100% 59.4118%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 87.8431%;
    --input: 0 0% 87.8431%;
    --ring: 211.2941 100% 50%;
    --chart-1: 211.2941 100% 50%;
    --chart-2: 134.9068 63.6364% 50.3922%;
    --chart-3: 48 100% 50%;
    --chart-4: 3.1884 100% 59.4118%;
    --chart-5: 279.8571 67.9612% 59.6078%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 29.0196%;
    --sidebar-primary: 211.2941 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.2941 100% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 87.8431%;
    --sidebar-ring: 211.2941 100% 50%;
    --font-sans: Nunito Sans, sans-serif;
    --radius: 0.625rem;
    --shadow-2xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-sm: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow-md: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 2px 4px 4px hsl(0 0% 0% / 0.01);
    --shadow-lg: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 4px 6px 4px hsl(0 0% 0% / 0.01);
    --shadow-xl: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 8px 10px 4px hsl(0 0% 0% / 0.01);
    --shadow-2xl: 0 0 25px 5px hsl(0 0% 0% / 0.03);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 0 0% 7.0588%;
    --foreground: 0 0% 87.8431%;
    --card: 0 0% 11.7647%;
    --card-foreground: 0 0% 87.8431%;
    --popover: 0 0% 11.7647%;
    --popover-foreground: 0 0% 87.8431%;
    --primary: 204.0719 69.8745% 53.1373%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 16.4706%;
    --secondary-foreground: 0 0% 80%;
    --muted: 0 0% 16.4706%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 217.2409 32.5439% 17.4498%;
    --accent-foreground: 208.2098 99.9838% 73.7322%;
    --destructive: 5.6140 78.0822% 57.0588%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 204.0719 69.8745% 53.1373%;
    --chart-1: 204.0719 69.8745% 53.1373%;
    --chart-2: 145.4430 63.2000% 49.0196%;
    --chart-3: 48.0531 88.9764% 50.1961%;
    --chart-4: 5.6140 78.0822% 57.0588%;
    --chart-5: 282.5806 38.9121% 53.1373%;
    --sidebar: 0 0% 11.7647%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 204.0719 69.8745% 53.1373%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204.0719 69.8745% 53.1373%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 204.0719 69.8745% 53.1373%;
    --font-sans: Nunito Sans, sans-serif;
    --radius: 0.625rem;
    --shadow-2xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-sm: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow-md: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 2px 4px 4px hsl(0 0% 0% / 0.01);
    --shadow-lg: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 4px 6px 4px hsl(0 0% 0% / 0.01);
    --shadow-xl: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 8px 10px 4px hsl(0 0% 0% / 0.01);
    --shadow-2xl: 0 0 25px 5px hsl(0 0% 0% / 0.03);
  }
}

@layer base {
  * {
    @apply border-border;
    font-size: .925rem;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html,
:host {
    -webkit-text-size-adjust: 100%;
}
  .container {
    @apply !max-w-7xl;
  }
  .outline-button {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium transition-all outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] h-10 px-4 py-2 border border-input bg-background hover:bg-accent hover:text-accent-foreground rounded-lg cursor-pointer;
  }
} 

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge legacy */
}

@supports (scrollbar-width: none) {
  /* Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded cursor-pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}