.cursorignore
.cursor/
.project/
.manual/
.example/
downloads/
options.*
.draft/
.vscode/
node_modules/
dist/
build/
@registry/
@buildy-ui/
bun.lock
.env
package-lock.json

## build
vite.config.js
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo